{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
  <h2>Job List</h2>
  <div class="joblist">
  <table class="table">
    <caption>
      Scheduled, running and finished jobs are listed below.  Refresh in <div class="job-timer" style="display: inline-block;"></div>
    </caption>
    <thead>
      <tr>
        <th>Cluster</th>
        <th>Server</th>
        <th>Job Label</th>
        <th>Start</th>
        <th>Status</th>
        <th>Exit Output</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>
          <div class="loading"><div></div></div>
      </td></tr>
    </tbody>
  </table>
  </div>

  <h2>Task List</h2>
  <div class="tasklist">
  <table class="table table-hover">
    <caption>
      List of Tasks on various cluster servers that can be launched.  When running, they become jobs. Refresh in <div class="task-timer" style="display: inline-block;"></div>
    </caption>
    <thead>
      <tr>
        <th>Cluster</th>
        <th>Job</th>
        <th>Server</th>
        <th>Schedule</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="loading"><div></div></div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

{% include "handlebars/joblist.html" %}
{% include "handlebars/tasklist.html" %}
{% endblock %}

{% block extra_js %}
    <script src="{% static "vendor/js/popper.min.js" %}"></script>
    <script src="{% static "vendor/js/circletimer.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
{% endblock %}
