{% verbatim %}
<script id="task-table-row-template" type="text/x-handlebars-template">
  <tr>
    <td>{{ cluster }}</td>
    <td>{{ label }}</td>
    <td>
      <select id="members-{{ cluster_label }}-{{ label }}">
      {{#each members}}
      <option value="{{ this }}">{{ this }}</option>
      {{/each}}
      </select>
    </td>
    <td>
      <a class='launch-job' title='Launch {{ label }}' href='javascript:void(0);' data-job-cluster="{{ cluster_label }}" data-job-label="{{ label }}"><i class="fa fa-repeat"></i></a>
    </td>
  </tr>
</script>
{% endverbatim %}
