{% verbatim %}
<script id="task-table-template" type="text/x-handlebars-template">
  <table>
    <thead>
      <tr>
        <th>Cluster</th>
        <th>Job Label</th>
        <th>Server</th>
        <th>Launch</th>
      </tr>
    </thead>
    <tbody>
      {{#each tasks}}
      <tr>
        <td>{{ cluster }}</td>
        <td>{{ label }}</td>
        <td>{{ member }}</td>
        <td>
          {{#if exit_date}}
          <a class='job-restart' title="Launch {{ label }}" href="#" data-job-cluster="{{ cluster }}" data-job-member="{{ member }}" data-job-label="{{ label }}"><i class="fa fa-repeat"></i></a>
          {{/if}}
        </td>
      </tr>
      {{/each}}
  </tbody>
</table>
</script>
{% endverbatim %}
